/* header */
.entete nav h1 {
  float: none;
  text-align: center;
}

.entete nav ul li {
  float: none;
  text-align: center;
}

.entete nav ul li a {
  float: none;
}

/* Sous entete */
.a-entete .a-entete-container {
  padding-top: 100px;
}

/* café et montre */
.cafe-montre .container {
  float: none;
  margin: auto;
}

/* retrouver nous */
.retrouve-nous {
  padding: 80px 0px 50px 0;
  margin: auto;
}

.carte {
  float: none;
  padding-left: 0px;
  margin: 1rem;
  width: 340px;
}

.sous-carte {
  float: none;
  margin: 1rem;
  width: 340px;
}

.souligner {
  max-width: 340px;
}

/* contact */

.titre-contact {
  max-width: 350px;
  margin: 1rem;
  padding-top: 30px;
}

fieldset {
  max-width: 340px;
}

form {
  padding-left: 18px;
}

input,
textarea {
  max-width: 300px;
}
